html,
body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 22px;
    line-height: 1.2;
}

.placeholder {
    background-color: rgba(0, 0, 0, 1);
    height: 101vh;
}

.placeholder:first-child {
    margin: 0 0 40px 0;
}

.placeholder:last-child {
    margin: 40px 0 0 0;
}

.display-flow {
	background-image: linear-gradient(
		to bottom,
		transparent 150px,
		#fff 150px,
		#fff calc(100% - 150px),
		transparent 0
	);
    margin: auto auto 150px auto;
    height: 100vh;
    border: 1px solid purple;

    opacity: 0;
    transition: opacity 1.5s ease-in 1s;
    will-change: opacity;
}

.display-flow.is-visible {
    opacity: 1;
}

.content {
    position: -webkit-sticky;
    position: sticky;
    height: auto;
    top: 0;
    padding: 50px 0;
}

.flow-intro {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 550px;
    text-align: center;
}

.flow-intro h1 {
    margin: 0;
    font-size: 42px;
    color: #000;
}

.flow-intro p {
    margin: 10px auto 15px auto;
}
